    </main>
    <section>
        <script src="assets/web/assets/jquery/jquery.min.js"></script>
        <script src="assets/popper/popper.min.js"></script>
        <script src="assets/tether/tether.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="view/js/admin.js"></script>
        <script src="view/js/global.js"></script>
    </section>
    <footer>
        <div class="container">
            <div class="row text-right">
                <div class="col">
                    @Copyright 2020 Famous Quotes
                </div>
            </div>
        </div>
    </footer>
</body>
</html>