<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="view/css/main.css">
    <title>Famous Quotes!</title>
</head>
<body>

    <main>
        <section class="sub-header-banner w-100">
            <div class="container">
                <div class="row text-right">
                    <div class="col-12 mt-3 mt-md-5">
                        <div>
                            <a href="#" class="btn btn-primary pl-md-4 pr-md-4" id="login">Log In</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="mt-2 pb-3 pt-2 mt-lg-3 pt-lg-5">
                        <h1 class="display-1 text-center"
                            style="text-shadow: 2px 2px #191919;font-weight:bold;color:white;font-size:4vw;">
                            Famous Quotes!
                        </h1>
                    </div>
                </div>
            </div>
        </section>